<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- You can set your favicon here -->
<link rel="shortcut icon" type="image/jpg" href="images\Banner.png"/> <!-- Favicon -->
<!-- Discord embeds -->
<meta content="https://ranger-4297.github.io/TeenageClub/{{site.permalink}}" property="og:url"/> <!-- Embed URL -->
<meta content="{{ page.description | default: site.description | default: site.github.project_tagline }}" property="og:description"/> <!-- Embed deescription-->
<meta content="https://ranger-4297.github.io/TeenageClub/images/Banner.png" property="og:image"/> <!-- Embed image -->
<meta content="#ffc0cb" data-react-helmet="true" name="theme-color"/> <!-- Embed colour -->
<!-- end custom head snippets -->
